$white: #fff;
$black: #000;
$dark: #272727;
$main: #A2C350;
$main2: #df023d;
$main3: #e0034a;
$light: #F4F3FA;
$buttonBg: linear-gradient(98deg, #dd0136 0%, #e30670 100%);
$main__flex: linear-gradient(180deg, #ffffff 0%, $main 100%);
$gradient: linear-gradient(180deg, #fff 6.5%, $main 100%);
$form_gradient: linear-gradient(137deg, #fff 2.03%, rgba(255, 255, 255, 0) 100%);
$salad: #c9d24c;
$salad_light: #dbe8bc;
$grey: #BBBBBB;
$grey_ligth: #F2F2F2;
$grey_dark: #bebebe;