* {
  font-family: 'rfDewiExtended', 'Arial', sans-serif;
  scroll-behavior: smooth;
  line-height: 1.1;
  color: $dark;
}

select {
  text-indent: 1px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
}

.anchor {
  position: relative;
  visibility: hidden;
  top: -100px;
}

section {
  position: relative;
}

.svg__clip {
  width: 0;
  height: 0;
}

.gradient {
  background: $gradient;
}

.background {
  background: $main;
}

button {
  border: none;

  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 991px) {
  section {
    padding: 15px 0;
  }
}