@font-face {
  font-family: 'rfDewiExtended';
  src: url("../../assets/fonts/rfDewiExtended/RFDewiExtended-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'rfDewiExtended';
  src: url("../../assets/fonts/rfDewiExtended/RFDewiExtended-Semibold.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'rfDewiExtended';
  src: url("../../assets/fonts/rfDewiExtended/RFDewiExtended-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'rfDewiExtended';
  src: url("../../assets/fonts/rfDewiExtended/RFDewiExtended-Black.woff2") format('woff2');
  font-weight: 900;
  font-style: normal;
}