.desc {
  z-index: 6;
  padding: 25px 0 35px;

  &__container {
    align-items: center;
    flex-direction: column;
    gap: 70px;
  }

  &__title {
    font-size: 55px;
    font-weight: 900;
    text-align: center;
    max-width: 1056px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 70px;
  }

  &__left {
    position: relative;
    max-width: 663px;
  }

  &__img-x {
    @include center;
    max-width: 78%;
  }

  &__right {
    max-width: 415px;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 900;
    position: relative;

    &_big {
      font-size: 30px;
      text-transform: uppercase;
      z-index: 1;
      margin: 0 0 5px;
      padding: 30px 0;

      &:before {
        content: '';
        background: url('../../assets/img/desc__border.svg') no-repeat center / contain;
        z-index: -1;
        @include center;
        left: -56px;
        width: 108%;
        aspect-ratio: 6 / 1;
        transform: translate(0, -50%);
      }
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 1024px) {
  .desc {
    &__title {
      font-size: 42px;
    }

    &__subtitle_big {
      font-size: 25px;
      display: inline-block;
      width: auto;

      &:before {
        left: -40px;
        width: 133%;
      }
    }

    &__text {
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 768px) {
  .desc {

    &__container {
      gap: 20px;
    }

    &__title {
      font-size: 32px;
      max-width: 576px;
    }

    &__subtitle_big {
      font-size: 22px;
      margin-bottom: 20px;
      padding: 15px 0;

      &:before {
        left: -15px;
        width: 117%;
      }
    }

    &__row {
      gap: 30px;
    }

    &__text {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 576px) {
  .desc {
    padding-bottom: 15px;

    &__container {
      gap: 40px;
    }

    &__title {
      max-width: 480px;
    }

    &__row {
      flex-direction: column;
    }

    &__left {
      width: calc(100% + 30px);
    }

    &__img-x {
      width: 66%;
    }

    &__subtitle {
      font-size: 22px;
      text-align: center;

      &_big {
        font-size: 32px;
        display: block;
        margin: 10px 0;
        
        &:before {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
        }

      }
    }

    &__text {
      text-align: center;
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 480px) {
  .desc {
    &__title {
      max-width: 320px;
      font-size: 26px;
    }

    &__row {
      gap: 50px;
    }

    &__img-x {
      width: 70%;
    }

    &__right {
      max-width: 320px;
    }

    &__subtitle_big {
      font-size: 24px;
    }

  }
}